<div [@routerTransition]>
    <section class="content-header" id="tesst">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>Quản lý danh sach người dùng </h1>
                </div>
                <div class="col-6 text-right">

                    <button type="button" class="btn btn-primary m-r-5 m-t-5 width-130" (click)="createPerson()">
                        <i class="fa fa-plus"></i>
                        <span style="margin-left: 5px;">Thêm mới</span></button>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">


                        <div class="card-header">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn bg-blue" (click)="getDataPage()">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control" name="keyword" [placeholder]="'Nhập từ khóa...'" [(ngModel)]="keyword" (keyup.enter)="getDataPage()" pTooltip="Nhập chữ vào đây" tooltipPosition="top" />
                            </div>
                            <p-table #dt [value]="person" [lazy]="true" (onLazyLoad)="getDataPage($event)" [paginator]="paginator" [loading]="loading" [showCurrentPageReport]="showCurrentPageReport" currentPageReportTemplate="Hiển thị: {first}-{last} / {totalRecords}" [rows]="paginatorRows"
                                [totalRecords]="totalCount" [rowsPerPageOptions]="rowsPerPageOptions" [scrollable]="scrollable" scrollHeight="{{scrollHeight}}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="width-30"></th>
                                        <th class="width-150">Mã</th>
                                        <th class="width-150">Tên</th>
                                        <th class="width-150">FullName</th>
                                        <th class="width-150">Email</th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record>
                                    <tr class="ui-selectable-row">
                                        <td class="width-30">
                                            <div class="dropdown">
                                                <button class="dropdown-toggle btn btn-sm btn-transparent btn-action" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="viewDemo(record.person.id)">Xem</a>
                                                    <a class="dropdown-item" (click)="createDemo(record.person.id)">Cập
                                                        nhật</a>
                                                    <a class="dropdown-item" (click)="_deleteDemo(record.person)">Xóa</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="width-150">{{ record.person.id | truncate }}</td>
                                        <td class="width-150">{{ record.person.name | truncate }}</td>
                                        <td class="width-150">{{ record.person.fullName | truncate }}</td>
                                        <td class="width-150">{{ record.person.email | truncate }}</td>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td class="person" colspan="8" style="text-align:left">
                                            {{khongCoDuLieu}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <!-- <form action="" #form="ngForm" (ngSubmit)="onSubmit()">
                                <h3 class="mt-30">Nhập Thông Tin Cần Thiết Vào Nhé !!</h3>
                                <span class="ui-float-label mt-30">
                                    <input id="float-input" type="text" size="30" name="name" [(ngModel)]="name"
                                        pInputText>
                                    <label for="float-input">Username</label>
                                </span>
                                <span>{{name}}</span>

                                <span class="ui-float-label mt-30">
                                    <input id="float-input" type="text" size="30" name="FulllName"
                                        [(ngModel)]="FullName" pInputText>
                                    <label for="float-input">FullName</label>
                                </span>
                                <span>{{FullName}}</span>

                                <span class="ui-float-label mt-30">
                                    <input id="float-input" type="text" size="30" name="Email" [(ngModel)]="Email"
                                        pInputText>
                                    <label for="float-input">Email</label>
                                </span>
                                <span>{{Email}}</span>

                                <button pButton type="button" label="Primary" class="mt-30" (click)="getDataPage"></button>
                            </form> -->



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
