<form [formGroup]="form" class="form-horizontal" autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="id ?( isView ? 'Xem chi tiết: '+ demoDto.ten : 'Cập nhật: '+ demoDto.ten ): 'Thêm mới Demo'" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body fixed-modal-height">
        <p-accordion [multiple]="true">
            <p-accordionTab header="Textbox I" [selected]="true">
                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <div class="form-groud">
                            <dft-label-validation [form]="form" [control]="form.get('TextBox1')" [title]="'TextBox1 *'">
                            </dft-label-validation>
                            <input [formControl]="form.get('TextBox1')" required type="text" id="TextBox1" name="TextBox1" maxlength="50" formControlName='TextBox1' pInputText /> {{form.controls.TextBox1.value}}
                            <dft-validation [control]="form.get('TextBox1')"></dft-validation>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-groud">
                            <dft-label-validation [form]="form" [control]="form.get('TextBox2')" [title]="'TextBox2 *'">
                            </dft-label-validation>
                            <input [formControl]="form.get('TextBox2')" required type="text" id="TextBox2" name="TextBox2" maxlength="50" formControlName='TextBox1' pInputText /> {{form.controls.TextBox2.value}}
                            <dft-validation [control]="form.get('TextBox1')"></dft-validation>
                        </div>
                    </div>

                </div>
                <div class="row ui-fluid" style="margin-top : 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <dft-label-validation [form]="form" [title]="'Checkbox'">
                            </dft-label-validation>
                            <br>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p-checkbox [formControl]="form.controls['Checkbox']" name="group1" value="New York" label="New York" inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p-checkbox [formControl]="form.controls['Checkbox']" name="group1" value="San Francisco" label="San Francisco" inputId="sf"></p-checkbox>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p-checkbox [formControl]="form.controls['Checkbox']" name="group1" value="Los Angeles" label="Los Angeles" inputId="la"></p-checkbox>
                                </div>
                                <br> Selected : <span *ngFor="let city of form.controls.Checkbox.value" style="margin-right:10px">{{city}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <dft-label-validation [form]="form" [title]="'Checkbox(True -False)'">
                                    </dft-label-validation><br>
                                    <p-checkbox [formControl]="form.controls.CheckboxTrueFalse" name="Checkbox" binary="true"></p-checkbox>
                                    {{form.controls.CheckboxTrueFalse.value}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-gr">
                                    <dft-label-validation [form]="form" [title]="'Input Switch'"></dft-label-validation>
                                    <br>
                                    <p-inputSwitch formControlName="InputSwitch"></p-inputSwitch><br>
                                    <span>{{form.controls.InputSwitch.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ui-fluid">
                    <div class="col-md-12">
                        <div class="form-group">
                            <dft-label-validation [form]="form" [title]="'Radio Button - test'">
                            </dft-label-validation>
                            <div class="col-md-12">
                                <div class="form-group">

                                    <p-radioButton name="group1" value="1" label="Option 1" formControlName="RadioButton" inputId="opt1"></p-radioButton>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p-radioButton name="group1" value="2" label="Option 2" formControlName="RadioButton" inputId="opt2"></p-radioButton>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p-radioButton name="group1" value="3" label="Option 3" formControlName="RadioButton" inputId="opt3"></p-radioButton>
                                </div>
                            </div>
                            Selected Value = {{form.controls.RadioButton.value||'none'}}
                        </div>
                    </div>

                </div>
                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <div class="form-groud">
                            <dft-label-validation [form]="form" [title]="'Phone Number'"></dft-label-validation>
                            <div class="form-group">
                                <input appPhoneNumber type="text" id="InputMask" name="InputMask" formControlName='InputMask' minlength="3" maxlength="15" pInputText /> {{form.controls.InputMask.value}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'Slider Test'"></dft-label-validation>
                        <p-slider formControlName="Slider" [style]="{'width': '14em' , 'margin-top': '15px'}" [animate]="true"></p-slider>
                        {{form.controls.Slider.value}}
                    </div>
                </div>
                <div class="row ui-fluid">
                    <div class="col-md-12">
                        <dft-label-validation [form]="form" [title]="'ProgressBar'"></dft-label-validation>
                        <p-progressBar [value]="value"></p-progressBar>
                    </div>
                </div>
                <div class="row ui-fluid">
                    <div class="col-md-12">
                        <dft-label-validation [form]="form" [title]="'Description'"></dft-label-validation>
                        <p-editor formControlName="Description" [style]="{'height':'320px' , 'margin-bottom':'10px'}">
                        </p-editor>
                        {{form.controls.Description.value}}
                    </div>
                </div>
                <div class="row ui-fluid">
                    <div class="col-md-12">
                        <dft-label-validation [form]="form" [title]="'Input TextArea'"></dft-label-validation>
                        <textarea formControlName="InputTextarea" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea> {{form.controls.InputTextarea.value}}
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Number" [selected]="true">
                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <div class="form-groud">
                            <dft-label-validation [form]="form" [title]="'Integer Only'"></dft-label-validation>
                            <p-inputNumber [max]="100000" (onValueChange)="logg($event)" formControlName="IntegerOnly">
                            </p-inputNumber>
                            {{form.controls.IntegerOnly.value}}
                            <dft-validation [control]="form.get('IntegerOnly')"></dft-validation>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="form-groud">

                            <input (onValueChange)="logg($event)" [max]="100" decimal formControlName="Decimal" />
                             {{form.controls.Decimal.value}}
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="form-groud">
                            <dft-label-validation [form]="form" [title]="'Decimal'"></dft-label-validation>
                            <p-inputNumber [max]="100000" (onValueChange)="logg($event)" formControlName="IntegerOnly">
                            </p-inputNumber>
                            {{form.controls.IntegerOnly.value}}
                            <dft-validation [control]="form.get('IntegerOnly')"></dft-validation>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Calendar" [selected]="true">
                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'DateTime Basic'"></dft-label-validation>
                        <p-calendar formControlName="DateBasic" [dateFormat]="dateFormatInput" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"></p-calendar>
                    </div>
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'DateTime'"></dft-label-validation>
                        <p-calendar formControlName="DateTime" [dateFormat]="dateFormatInput" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showTime]="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="row ui-fluid mt-10">
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'Date Disable'"></dft-label-validation>
                        <p-calendar [disabledDates]="invalidDates" [disabledDays]="[0,6]" [readonlyInput]="true" formControlName="DateDisable" [yearNavigator]="true" [monthNavigator]="true" [showIcon]="true" [dateFormat]="dateFormatInput"></p-calendar>
                        {{form.controls.DateDisable.value}}
                    </div>
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'Date Max'"></dft-label-validation>
                        <p-calendar [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true">
                        </p-calendar>
                    </div>
                </div>
                <div class="row ui-fluid mt-10">
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'Time Only'"></dft-label-validation>
                        <p-calendar [timeOnly]="true" formControlName="DateTime" [dateFormat]="dateFormatInput" [showIcon]="true" [showTime]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"></p-calendar>
                    </div>

                </div>

            </p-accordionTab>
            <p-accordionTab header="ComboBox" [selected]="true">
                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'DropDownSelectTree'"></dft-label-validation>
                        <app-dropdown-treeview-select [disabled]="isView" [(value)]="treeViewSelectValue" [items]="treeViewSelectItems">
                        </app-dropdown-treeview-select>
                        {{treeViewSelectValue}}
                    </div>
                    <div class="col-md-6">
                        <dft-label-validation [form]="form" [title]="'MutipleCheckboxTree'"></dft-label-validation>
                        <app-multiple-select-tree [dataEdit]="treeViewCheckboxItems" (onSelect)="treeViewCheckboxValue = $event">
                        </app-multiple-select-tree>
                        {{treeViewCheckboxValue}}
                    </div>
                </div>
                <div class="row ui-fluid">
                    <div class="col-md-6">
                        <div class="form-gro">

                            <dft-label-validation [form]="form" [title]="'AutoCompleteSingle'"></dft-label-validation>

                            <p-autoComplete [suggestions]="suggestionsSingle" field="displayName" [dropdown]="true" [forceSelection]="true" formControlName="AutoCompleteSingle" [size]="30" (completeMethod)="searchTrangThaiDuyet($event)">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DmCaLamViec_lblMaCaLamViec" id="DmCaLamViec_lblMaCaLamViec">AutoComplete
                                Multiple</label>
                            <p-autoComplete [suggestions]="suggestionsMultiple" field="displayName" [multiple]="true" [dropdown]="true" [forceSelection]="true" formControlName="AutoCompleteMultiple" (completeMethod)="search($event)">
                            </p-autoComplete>
                            <ul>
                                <li *ngFor="let c of form.controls.AutoCompleteMultiple.value">
                                    {{c.id + ' - ' + c.displayName}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="UploadFile" [selected]="true">
                <div class="row ui-fluid">
                    <div class="col-md-12">
                        <div class="form-group">
                            <dft-label-validation [title]="'Ảnh'">
                            </dft-label-validation>
                            <ngx-dropzone id="Image" [accept]="imateAcceptTypes" [disabled]="uploading" [disableClick]="isView" (change)="onSelectImageFile($event)" [multiple]="true">
                                <ngx-dropzone-label>Chọn file...</ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imageFiles" [file]="f" [removable]="!isView" (removed)="onRemoveImageFile(f)">
                                    <ngx-dropzone-label title="{{f.name}}">{{ f.name |truncate:12}}
                                    </ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                    <div *ngIf="isView" class="col-md-12">
                        <ul class="list-unstyled">
                            <li *ngFor="let file of demoDto?.listDemoFile">
                                <a [title]="file.tenFile" *ngIf="file.loaiFile===1" (click)="onDownloadFile(file.linkFile)" class="text-primary">{{file.tenFile
                                    |truncate:30}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row ui-fluid">
                    <div class="col-md-12">
                        <div class="form-group">
                            <dft-label-validation [title]="'All'">
                            </dft-label-validation>
                            <ngx-dropzone id="File" [disabled]="uploading" (change)="onSelectAllFile($event)" [disableClick]="isView" [multiple]="true">
                                <ngx-dropzone-label>Chọn file...</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of allFiles" [removable]="!isView" (removed)="onRemoveAllFile(f)">
                                    <ngx-dropzone-label title="{{f.name}}">{{ f.name |truncate:12}}</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>
                <div *ngIf="isView" class="col-md-12">
                    <ul class="list-unstyled">
                        <li *ngFor="let file of demoDto?.listDemoFile">
                            <a [title]="file.tenFile" *ngIf="file.loaiFile===2" (click)="onDownloadFile(file.linkFile)" class="text-primary">{{file.tenFile
                                |truncate:30}}</a>
                        </li>
                    </ul>
                </div>

            </p-accordionTab>

        </p-accordion>
    </div>
    <abp-modal-footer [saveHidden]="isView" [cancelLabel]="isView?'Đóng':'Hủy'" [cancelDisabled]="saving" (onCancelClick)="close()">
    </abp-modal-footer>
</form>
